body {
    margin: 0px;
    font-size: 100%;
    background-color: #222930;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
#cabecera {
    padding-top: 1em;
    text-align: center;
    margin: .5em;
    margin-bottom: 2px;
    color: #4de243;
}
#cabecera img {
    float: left;
    padding-left: 10px;
    text-align: left;
}
#cabecera h1 {
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 3px;
}
#cabecera h2 {
    font-size: 2.5em;
    margin-top: 2px;
}
#nav {
    padding-bottom: .3em;
    border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: whitesmoke;
}
#nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#nav ul li {
    text-align: center;
	font-weight: normal;
    text-transform: uppercase;
    float: left;
}
#nav ul a:link {
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 25px;
    padding: 10px 50px;
    text-decoration: none;
}
#nav ul a:visited {
    color: #fff;
}
#nav ul a:focus {
    color: #fff;
}
#nav ul a:hover {
    color: #fff;
}
#nav ul a:active {
    color: #fff;
}
#nav li a:hover {
    color: rgb(197, 197, 197);
    background-color: #005056;
}
footer {
    padding: .5em 1em;
    background-color: #005056;
    color: whitesmoke;
    text-align: center;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
}
#contacto {
    font-size: 1.05em;
}